/* Lazy Load Styles */
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Parisienne&display=swap");
#card-image {
    display: block;
    min-height: 10rem; /* layout hack */
    background: #fff center center no-repeat;
  }
  
  #card-image.is-loaded {
    filter: none; 
    transition: filter 1s;
  }
  
  /* Layout Styles */

  h1{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(233, 55, 91);
  }
  a{
    text-decoration: none;
  }
  span{
    color:rgb(231, 107, 132);
    font-family: "Belleza",sans-serif;
    font-weight: bold;
  }
  #img-card{
    width:200px;
    height:200px;
    margin-top: 10px;
  }
  #card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 50px;
  }
  
  #card {
    width: 400px;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  }
  
  #card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
  }
  
  #card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
  }
  
  #card-description > h2 {
    margin: 0 0 0.5em;
  }
  
  #card-description > p {
    margin: 0;
  }

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}
.btn-flex{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
