@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.text{
    font-size: 3rem;
    color: #c25656;
    margin: 15px;
    font-family: 'Dancing Script',cursive;
}
 .signup .background-image-signup {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url("https://res.cloudinary.com/sagacity/image/upload/c_crop,h_3825,w_5823,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/shutterstock_1029009367_x1u5we.jpg");
}
.signup {
    position: relative;
    z-index: 1;
    padding: 0;
  }

  .link{
   font-weight: bold;
   font-size: 20px;
  }
  .link:hover{
    color: rgb(227, 114, 144);
  }
  
  .register h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .register input[type="text"],
  .register input[type="email"],
  .register input[type="password"] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.2rem;
  }
  
  .register button[type="submit"] {
    background-color: #c25656;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  
  .register button[type="submit"]:hover {
    background-color: #b24646;
    cursor: pointer;
  }

  .nav-signup{
margin-left: 900px;
  }
  .signup-text{
    color:#fff;
    font-size: 20px;
    font-family: 'Raleway',sans-serif !important;
    font-style: italic;
  }
  


