

  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  .img-users {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
  }
  .admin-dashboard {
    display: block;
    margin-left: 500px;
    margin-bottom: 10px;
    font-size: 32px;
    color: #fb6060;
    margin-top: 100px;
    
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  @media screen and (max-width: 768px) {
    /* Hide the table header */
    thead {
      display: none;
    }
    
    /* Make each row display as a block */
    tbody tr {
      display: block;
      margin-bottom: 20px;
      border: 1px solid #ddd;
    }
    
    /* Add a label for each row */
    tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
    
    /* Hide the first column on small screens */
    tbody td:first-child {
      display: none;
    }
  }

  .add-user-icon {
    color: rgb(255, 0, 60);
    margin-bottom: 10px;
    font-size: 20px;
  }
  